extends layout
block content
  .container.py-5.justify-content-center
    .row
      .col.text-center
        h2.crud C
        p.description Create
        a.btn.btn-success(href="/create") Llevame alli
      .col.text-center
        h2.crud R
        p.description Read
        a.btn.btn-success(href="/read") Llevame alli
      .col.text-center
        h2.crud U
        p.description Update
        a.btn.btn-success(href="/update") Llevame alli
      .col.text-center
        h2.crud D
        p.description Delete
        a.btn.btn-success(href="/delete") Llevame alli